@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to your CSS file or in a style tag */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.eto-card-container.flipped {
  transform: rotateY(180deg);
}